
html {
    text-indent: 50px;
    background-color: #FFEADD;
}

.katy_perry {
    position: absolute;
    right: 100px;
    top: 175px;
    border-radius: 50px;
}
.banner{
    position: absolute;
    right: 3.5px;
    left: 3.5px;
    top: 150px;
    border-radius: 15px;
}
.slogan1{
    position: absolute;
    left: 60px;
    top: 275px;
    border-radius: 50px;
    color: #af5a6c;
    font-size: 2rem;
    font-family:Frank Ruhl Libre;
}
.slogan2{
    position: absolute;
    left: 110px;
    top: 325px;
    border-radius: 50px;
    color: #af5a6c;
    font-size: 2rem;
    font-family:Frank Ruhl Libre;
}
.autor{
    position: absolute;
    right: 800px;
    top: 375px;
    border-radius: 50px;
    background-color: #FFF3E2;
    color: #af5a6c;
    font-size: 1rem;
    font-family:Frank Ruhl Libre;
}
h1{
    position: absolute;
    right: 550px;
    top: 5px;
    font-family:Frank Ruhl Libre;
    font-size: 3rem;
    color:#af5a6c;

}
a:link {
    font-family:Frank Ruhl Libre;
    text-decoration: none;

}
a:visited{
    font-family:Frank Ruhl Libre;
    text-decoration: none;
    

}
a:hover {
text-decoration: underline;
}
.home{
    position: absolute;
    right: 1025px;
    top: 110px;
    color: #af5a6c;
    font-size: 2rem;
}

.about{
    position: absolute;
    right: 825px;
    top: 110px;
    color: #af5a6c;
    font-size: 2rem;
}

.concert{
    position: absolute;
    right: 625px;
    top: 110px;
    color: #af5a6c;
    font-size: 2rem;
}

.album_E{
    position: absolute;
    right: 425px;
    top: 110px;
    color: #af5a6c;
    font-size: 2rem;
}

.shop{
    position: absolute;
    right: 225px;
    top: 110px;
    color: #af5a6c;
    font-size: 2rem;
}

.icon_home{
    position: absolute;
    right: 990px;
    top: 120px;
}

.icon_about{
    position: absolute;
    right: 790px;
    top: 120px;
}

.icon_concert{
    position: absolute;
    right: 590px;
    top: 115px;
}

.icon_album{
    position: absolute;
    right: 390px;
    top: 120px;
}

.icon_shop{
    position: absolute;
    right: 190px;
    top: 118px;
}
.snapchat{
    position: absolute;
    right: 10px;
    top: 15px;
}
.facebook{
    position: absolute;
    right: 45px;
    top: 15px;
}
.instagram{
    position: absolute;
    right: 80px;
    top: 15px;
}
.youtube{
    position: absolute;
    right: 115px;
    top: 15px;
}
.apple{
    position: absolute;
    right: 150px;
    top: 12px;
}
.spotify{
    position: absolute;
    right: 185px;
    top: 15px;
}
B{
    background-color: #FFEADD;
}
.about_me_nadpis{
    position: absolute;
    right: 550px;
    top: -20px;
    color: #af5a6c;
    font-size: 2.5rem;
}
.text_biografie{
    background-color:#fcaeae;
    position: absolute;
    left: 60px;
    right: 60px;
    top: 100px;
    color:#af5a6c;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: Frank Ruhl Libre;
}
.read_more{
    background-color:#fcaeae;
    color:#af5a6c;
    position: absolute;
    right: 60px;
    left: 410px;
    top: 155px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: Frank Ruhl Libre;
}
img.album{
    display:flex;
    align-items: center;
    height: 310px;
    width: 310px;
    margin: 2px;
    border-radius: 10px;
  }
  
  img.album:hover{
    margin: 4px;
    height: 306px;
    width: 306px;
  
  }
  
  div.orange{
    display: flex;
    height: 450px;
    justify-content: space-around;
    background-color:#af5a6c;
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    top: 600px;
  }
  
  .orange p{
    flex-basis: 100%;
    margin: 3.5px;
  }
  
  p.Albums{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color:#fff3e2;
  }
  div.biografie{
    display: flex;
    height: 350px;
    justify-content: space-around;
    background-color:#fcaeae;
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    top: 600px;
  }
  .merch{
    display: flex;
    height: 500px;
    justify-content: space-around;
    background-color:#FFF3E2;
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    top: 600px;
  }
  .merch_img{
    position: absolute;
    left: 100px;
    top: 100px;
    border-radius: 15px;
  }
  .napis_shop{
    position: absolute;
    left: 500px;
    top: 5px;
    font-size: 2rem;
    color: #af5a6c;
  }
  .pay_here{
    font-size: 2rem;
    color: #af5a6c;
    position: absolute;
    left: 500px;
    top: 200px;
  }